/Coba 1.py
/Coba 2.py
/Coba 3.py
/Coba 4.py
/nilai_siswa.db
/Pertemuan 4.py
/Pertemuan 5.py
/prediksi_prodi.db
/Soal 1.py
/Soal 2.py
/Soal 3.py
/Soal 4.py
/Soal 5.py
/tempCodeRunnerFile.py
/Tes 1
/Tes GUI.py